In [18]:
import sqlalchemy
import pandas as pd
con = sqlalchemy.create_engine('mysql://root:password@localhost/user')

In [19]:
# Did it work?
pd.read_sql_table(table_name='submissions', con=con, schema='user')

   sepal_len  sepal_wid  petal_len  petal_wid
0        3.0        2.0        1.0        1.0
1        3.0        2.0        1.0        1.0
2        3.0        2.0        1.0        1.0