In [1]:
import sqlalchemy
import pandas as pd
con = sqlalchemy.create_engine('mysql://root:password@localhost/user')

In [2]:
# Did it work?
pd.read_sql_table(table_name='submissions', con=con, schema='user')

   sepal_len  sepal_wid  petal_len  petal_wid
0        5.0        8.0        3.0        4.0
1        5.0        8.0        3.0        4.0
2        5.0        8.0        3.0        4.0