In [1]:
import sqlalchemy
con = sqlalchemy.create_engine('mysql://root:password@localhost', echo=True)

In [3]:
# let's put some random stuff in there!
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(0,100,size=(15, 4)), columns=list('ABCD'))
df.head()

    A   B   C   D
0  20  75  63  77
1  18  91  91  97
2  22  58  62  36
3  68  77  31  48
4  21  64   1  60

In [5]:
con.execute(sqlalchemy.schema.CreateSchema('Junk'))

2020-07-31 21:09:56,134 INFO sqlalchemy.engine.base.Engine CREATE SCHEMA `Junk`
2020-07-31 21:09:56,135 INFO sqlalchemy.engine.base.Engine ()
2020-07-31 21:09:56,155 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:
# And let's throw it in our shiny new db!
df.to_sql('Random_Junk', con, schema='Junk')

2020-07-31 21:09:57,314 INFO sqlalchemy.engine.base.Engine DESCRIBE `Junk`.`Random_Junk`
2020-07-31 21:09:57,315 INFO sqlalchemy.engine.base.Engine ()
2020-07-31 21:09:57,318 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-07-31 21:09:57,323 INFO sqlalchemy.engine.base.Engine
CREATE TABLE `Junk`.`Random_Junk` (
	`index` BIGINT,
	`A` INTEGER,
	`B` INTEGER,
	`C` INTEGER,
	`D` INTEGER
)


2020-07-31 21:09:57,325 INFO sqlalchemy.engine.base.Engine ()
2020-07-31 21:09:57,378 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-31 21:09:57,379 INFO sqlalchemy.engine.base.Engine CREATE INDEX `ix_Junk_Random_Junk_index` ON `Junk`.`Random_Junk` (`index`)
2020-07-31 21:09:57,380 INFO sqlalchemy.engine.base.Engine ()
2020-07-31 21:09:57,433 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-31 21:09:57,437 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-07-31 21:09:57,438 INFO sqlalchemy.engine.base.Engine INSERT INTO `Junk`.`Random_Junk` (`index`, `A`, `B`, `C`, `D`) VALUES (%s, %s, %s, %s, %s)
2020-07-31 21:09:57,439 INFO sqlalchemy.engine.base.Engine ((0, 20, 75, 63, 77), (1, 18, 91, 91, 97), (2, 22, 58, 62, 36), (3, 68, 77, 31, 48), (4, 21, 64, 1, 60), (5, 53, 72, 53, 23), (6, 88, 80, 26, 59), (7, 64, 46, 68, 47)  ... displaying 10 of 15 total bound parameter sets ...  (13, 35, 79, 60, 27), (14, 78, 64, 67, 73))
2020-07-31 21:09:57,443 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-31 21:09:57,456 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `Junk`
2020-07-31 21:09:57,457 INFO sqlalchemy.engine.base.Engine ()

In [7]:
# Did it work?
pd.read_sql_table('Random_Junk', con, 'Junk')

2020-07-31 21:10:35,559 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `Junk`
2020-07-31 21:10:35,560 INFO sqlalchemy.engine.base.Engine ()
2020-07-31 21:10:35,565 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `Junk`
2020-07-31 21:10:35,566 INFO sqlalchemy.engine.base.Engine ()
2020-07-31 21:10:35,591 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `Junk`.`Random_Junk`
2020-07-31 21:10:35,593 INFO sqlalchemy.engine.base.Engine ()
2020-07-31 21:10:35,600 INFO sqlalchemy.engine.base.Engine SELECT `Junk`.`Random_Junk`.`index`, `Junk`.`Random_Junk`.`A`, `Junk`.`Random_Junk`.`B`, `Junk`.`Random_Junk`.`C`, `Junk`.`Random_Junk`.`D`
FROM `Junk`.`Random_Junk`
2020-07-31 21:10:35,601 INFO sqlalchemy.engine.base.Engine ()

    index   A   B   C   D
0       0  20  75  63  77
1       1  18  91  91  97
2       2  22  58  62  36
3       3  68  77  31  48
4       4  21  64   1  60
5       5  53  72  53  23
6       6  88  80  26  59
7       7  64  46  68  47
8       8   4  16  90  89
9       9  17  96  84  39
10     10  90  96  68  70
11     11  42  84  97   6
12     12  97  71  81  25
13     13  35  79  60  27
14     14  78  64  67  73