In [1]:
import sqlalchemy
con = sqlalchemy.create_engine('mysql://root:password@localhost', echo=True)

In [2]:
# let's put some stuff in there!
import pandas as pd
# Read in the iris dataset. I know it's boring, but it's easy!
df = pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/iris.csv', names=['sepal length', 'sepal width', 'petal length', 'petal width', 'target'])
df.head()

   sepal length  sepal width  petal length  petal width       target
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
# Since this is a new db, we'll have to make our schema.
con.execute(sqlalchemy.schema.CreateSchema('Iris'))

2020-08-01 21:21:05,189 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-08-01 21:21:05,190 INFO sqlalchemy.engine.base.Engine ()
2020-08-01 21:21:05,197 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-08-01 21:21:05,198 INFO sqlalchemy.engine.base.Engine ()
2020-08-01 21:21:05,203 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-08-01 21:21:05,204 INFO sqlalchemy.engine.base.Engine ()
2020-08-01 21:21:05,206 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2020-08-01 21:21:05,207 INFO sqlalchemy.engine.base.Engine ()
2020-08-01 21:21:05,213 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-08-01 21:21:05,214 INFO sqlalchemy.engine.base.Engine ()
2020-08-01 21:21:05,217 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-08-01 21:21:05,218 INFO sqlalchemy.engine.base.Engine ()
2020-08-01 21:21:05,220 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2020-08-01 21:21:05,222 INFO sqlalchemy.engine.base.Engine ()
2020-08-01 21:21:05,227 INFO sqlalchemy.engine.base.Engine CREATE SCHEMA `Iris`
2020-08-01 21:21:05,228 INFO sqlalchemy.engine.base.Engine ()
2020-08-01 21:21:05,252 INFO sqlalchemy.engine.base.Engine COMMIT

In [4]:
# And let's throw it in our shiny new db!
df.to_sql('Iris', con, schema='Iris')

2020-08-01 21:21:20,371 INFO sqlalchemy.engine.base.Engine DESCRIBE `Iris`.`Iris`
2020-08-01 21:21:20,373 INFO sqlalchemy.engine.base.Engine ()
2020-08-01 21:21:20,378 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-08-01 21:21:20,384 INFO sqlalchemy.engine.base.Engine
CREATE TABLE `Iris`.`Iris` (
	`index` BIGINT,
	`sepal length` FLOAT(53),
	`sepal width` FLOAT(53),
	`petal length` FLOAT(53),
	`petal width` FLOAT(53),
	target TEXT
)


2020-08-01 21:21:20,386 INFO sqlalchemy.engine.base.Engine ()
2020-08-01 21:21:20,487 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-01 21:21:20,489 INFO sqlalchemy.engine.base.Engine CREATE INDEX `ix_Iris_Iris_index` ON `Iris`.`Iris` (`index`)
2020-08-01 21:21:20,491 INFO sqlalchemy.engine.base.Engine ()
2020-08-01 21:21:20,555 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-01 21:21:20,560 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-08-01 21:21:20,564 INFO sqlalchemy.engine.base.Engine INSERT INTO `Iris`.`Iris` (`index`, `sepal length`, `sepal width`, `petal length`, `petal width`, target) VALUES (%s, %s, %s, %s, %s, %s)
2020-08-01 21:21:20,565 INFO sqlalchemy.engine.base.Engine ((0, 5.1, 3.5, 1.4, 0.2, 'Iris-setosa'), (1, 4.9, 3.0, 1.4, 0.2, 'Iris-setosa'), (2, 4.7, 3.2, 1.3, 0.2, 'Iris-setosa'), (3, 4.6, 3.1, 1.5, 0.2, 'Iris-setosa'), (4, 5.0, 3.6, 1.4, 0.2, 'Iris-setosa'), (5, 5.4, 3.9, 1.7, 0.4, 'Iris-setosa'), (6, 4.6, 3.4, 1.4, 0.3, 'Iris-setosa'), (7, 5.0, 3.4, 1.5, 0.2, 'Iris-setosa')  ... displaying 10 of 150 total bound parameter sets ...  (148, 6.2, 3.4, 5.4, 2.3, 'Iris-virginica'), (149, 5.9, 3.0, 5.1, 1.8, 'Iris-virginica'))
2020-08-01 21:21:20,582 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-01 21:21:20,602 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `Iris`
2020-08-01 21:21:20,603 INFO sqlalchemy.engine.base.Engine ()

In [5]:
# Did it work?
pd.read_sql_table('Iris', con, 'Iris')

2020-08-01 20:11:43,022 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `Iris`
2020-08-01 20:11:43,023 INFO sqlalchemy.engine.base.Engine ()
2020-08-01 20:11:43,029 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `Iris`
2020-08-01 20:11:43,030 INFO sqlalchemy.engine.base.Engine ()
2020-08-01 20:11:43,050 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `Iris`.`Iris`
2020-08-01 20:11:43,051 INFO sqlalchemy.engine.base.Engine ()
2020-08-01 20:11:43,058 INFO sqlalchemy.engine.base.Engine SELECT `Iris`.`Iris`.`index`, `Iris`.`Iris`.`sepal length`, `Iris`.`Iris`.`sepal width`, `Iris`.`Iris`.`petal length`, `Iris`.`Iris`.`petal width`, `Iris`.`Iris`.target
FROM `Iris`.`Iris`
2020-08-01 20:11:43,059 INFO sqlalchemy.engine.base.Engine ()

,index,sepal length,sepal width,petal length,petal width,target
0,0,5.1,3.5,1.4,0.2,Iris-setosa
1,1,4.9,3.0,1.4,0.2,Iris-setosa
2,2,4.7,3.2,1.3,0.2,Iris-setosa
3,3,4.6,3.1,1.5,0.2,Iris-setosa
4,4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3,Iris-virginica
146,146,6.3,2.5,5.0,1.9,Iris-virginica
147,147,6.5,3.0,5.2,2.0,Iris-virginica
148,148,6.2,3.4,5.4,2.3,Iris-virginica
149,149,5.9,3.0,5.1,1.8,Iris-virginica

In [11]:
# It worked! Let's train a quick model that we'll use later
from sklearn.ensemble import RandomForestClassifier

df = pd.read_sql_table('Iris', con, 'Iris')

clf = RandomForestClassifier()
clf = clf.fit(X=df.drop(columns=['index', 'target']), y=df['target'])

2020-08-01 12:30:37,372 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `Iris`
2020-08-01 12:30:37,373 INFO sqlalchemy.engine.base.Engine ()
2020-08-01 12:30:37,377 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `Iris`
2020-08-01 12:30:37,378 INFO sqlalchemy.engine.base.Engine ()
2020-08-01 12:30:37,381 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `Iris`.`Iris`
2020-08-01 12:30:37,382 INFO sqlalchemy.engine.base.Engine ()
2020-08-01 12:30:37,391 INFO sqlalchemy.engine.base.Engine SELECT `Iris`.`Iris`.`index`, `Iris`.`Iris`.`sepal length`, `Iris`.`Iris`.`sepal width`, `Iris`.`Iris`.`petal length`, `Iris`.`Iris`.`petal width`, `Iris`.`Iris`.target
FROM `Iris`.`Iris`
2020-08-01 12:30:37,392 INFO sqlalchemy.engine.base.Engine ()

In [12]:
clf.predict([[1,1,1,1]])

array(['Iris-versicolor'], dtype=object)

In [13]:
#Cool! It worked! Let's pickle the model so we can import it handily into our project.
import pickle

with open('model.pkl', 'wb') as f:
    pickle.dump(clf, f)